.map {
    --outline-colour: #0D340D;
    --marked-colour: #b5179e;
    fill: var(--outline-colour);
    fill-opacity: 0;
    animation: zoom-fade 0.5s ease-in-out forwards;
}

.rsm-geography {
    stroke: var(--outline-colour);
    transition: fill-opacity 0.25s ease-in-out;
}

.rsm-geography:hover {
    fill-opacity: 0.5;
}

.marked {
    fill: var(--marked-colour);
    fill-opacity: 0.7;
}

.marked:hover {
    fill-opacity: 1;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .map {
        --outline-colour: #566ba5;
        --marked-colour: #0baad6;
    }
}

@keyframes zoom-fade {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}